/*
Theme Name: Pin WP
Theme URI: http://themeforest.net/user/An-Themes/portfolio
Description: Pin = Grid Personal Magazine / Resume WP Theme
Version: 1.7.1
Author: An-Themes
Author URI: http://www.anthemes.net/
Tags: black, white, red
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html

------------------------------------------------

				0.	CSS Reset
				1.	Layout
				2.  Header
				3.  Home Content
				4.  Entry Content
				5.  Sidebar & Widgets
				6.  Comments
				7.  Contact Form
				8.  Custom Pages ( Tag & Cat Index / etc. )
			    9.  Footer
			   10.  Shortcodes

-------------------------------------------------- */


/*-----------------------------------------------------------------------------
----------------------------- 0 - CSS Reset -----------------------------------
-----------------------------------------------------------------------------*/
html,body,h1,h2,h3,h4,h5,h6,form,li,ul,ol,p,input,select,legend,textarea,fieldset { margin:0; padding:0;}
ul, ol                     { list-style-type: none; }
:focus                     { outline: 0;}
ins                        { text-decoration: none; }
del                        { text-decoration: line-through; }
img                        { border:none;}

h1,h2,h3,h4,h5,h6          { line-height:26px;}
h1                         { font-size: 26px; }
h2                         { font-size: 24px; }
h3                         { font-size: 22px; }
h4                         { font-size: 20px; }
h5                         { font-size: 18px; }
h6                         { font-size: 16px; }

code, pre                  { background: url(images/bg_pre.png); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; line-height: 20px; font-size: 12px; display: block;  margin: 14px 0; overflow:hidden; padding: 21px 18px 18px 18px;  }
code:hover, pre:hover      { overflow:scroll;}

strong                     { font-weight: bold;}
fieldset                   { border: none;}

.clear                     { clear:both; display:block;}
.sleft                     { float:left;}
.sright                    { float:right;}
iframe                     { border: 0 !important;}

/*-----------------------------------------------------------------------------
----------------------------- 1 - Layout --------------------------------------
-----------------------------------------------------------------------------*/
*                          { margin: 0; padding: 0; -webkit-appearance: none; /* < google chrome / Safari fixed issues os bad styling > */}
html body                  { font: 14px/22px "Ruda", Helvetica, Arial, sans-serif; font-weight: 400; -webkit-text-size-adjust: none; overflow-x:hidden; }
/* - Header - */
header                     { width: 100%; height: auto; margin: 0 auto;  }
.main-header               { width: 100%; height: 90px; margin: 0 auto; }
.bar-header                { width: 100%; height: 45px; margin: 0 auto; }
.wrap-center               { width: 1280px; height: auto; margin: 0 auto; }
/* - Layout content - */
.home-fullwidth            { width: 100%; height: auto; margin: 0 auto 0 auto; padding: 0 0px; overflow: hidden;}
.wrap-fullwidth            { width: 1280px; height: auto; margin: 30px auto; padding: 0 0px;}
.wrap-fullwidth-bg         { width: 1280px; height: auto; margin: 40px auto; padding: 10px 0px 30px 0;}
.wrap-fullwidth-bg .entry  { width: auto; padding-left: 115px; padding-right: 115px;}
/* - page-content - */
.wrap-content              { width: auto; height: auto;margin: 25px 0 40px 320px; z-index: 1;padding: 0 20px;}
.single-content            { width: 950px; float: left; padding: 0 0 25px 0;}
.sidebar                   { width: 300px; float: left; margin-left: 30px; padding-top: 30px;}
.sidebar-left              {width: 320px; height: auto; float: left; z-index:2; margin: 0 0 -20000px 0; padding: 25px 0 20000px 0;}
/* - Background - */
#background                { display: none; min-width:100%; min-height:100%; top:0; left:0; z-index:-1; position:fixed; }
/* - Boxed Style- */
#boxed-style  			   { width: 1280px; height: auto; margin: 0 auto; }
#boxed-style #background   { display: block;}
#boxed-style .wrap-content { padding: 25px 0 40px 0; margin: 0 0 0 300px;}
#boxed-style .wrap-fullwidth { margin: 0 auto; padding: 30px 0px; }
#boxed-style .wrap-fullwidth-bg { margin: 0 auto; padding: 30px 0px; }
#boxed-style .stickytop.sticky-on { width: 1280px; right: 0; }
/* - Blog Masonry style in boxed mode - */
#boxed-style ul.masonry_list li         { width: 294px; }
/* - Home ADS in boxed mode -*/
#boxed-style ul.masonry_list li.homeadv,
#boxed-style ul.masonry_list li.homeadv iframe,
#boxed-style ul.masonry_list li.homeadv embed,
#boxed-style ul.masonry_list li.homeadv object,
#boxed-style ul.masonry_list li.homeadv img { width: 294px; }
/* - Menu in boxed mode - */
#boxed-style .jquerycssmenu, .jquerycssmenu ul li i { font-size: 14px; }
#boxed-style .jquerycssmenu ul li a     { margin-right: 5px; }
#boxed-style .jquerycssmenu ul li ul li a     { margin-right: 0px; }

/*-----------------------------------------------------------------------------
----------------------------- 2 - Header --------------------------------------
-----------------------------------------------------------------------------*/

/* -- Logo -- */
.logo                      { float: left; max-height: 90px; margin-left: 25px;}

/* -- Search -- */
#searchform2               { height: auto; float: right; margin: 27px 0 0 0;  border-radius: 5px; }
#searchform2 #s            { font-weight: bold; height: 36px; font-family: 'Ruda', sans-serif; float: left; border: none; padding: 2px 20px 0 20px; font-size: 13px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
#searchform2 .buttonicon   { width: 40px; height: 38px; background:url(images/btn_search.png) 12px 12px no-repeat; float: right; border: none; text-align: center; font-weight: bold; font-size: 0px; border-top-right-radius: 2px; border-bottom-right-radius: 3px;}
#searchform2 .buttonicon:hover   { cursor: pointer; opacity:.85; }
#s                         { width: 80px; -webkit-transition-duration: 400ms; -webkit-transition-property: width; -webkit-transition-timing-function: ease; -moz-transition-duration: 400ms; -moz-transition-property: width; -moz-transition-timing-function: ease; -o-transition-duration: 400ms; -o-transition-property: width; -o-transition-timing-function: ease; transition-duration: 400ms;  transition-property: width;  transition-timing-function: ease;}
#s:focus                   { width: 170px; overflow: hidden;}

/* -- Upload Button -- */
div.uploadbtn              { float: right; margin: 18px 25px 0 5px;}
div.uploadbtn .simplebtn   { padding: 5px 10px 4px 10px; font-size: 14px; }
div.uploadbtn .simplebtn i       { padding-right: 0; padding-top: 5px; line-height: 16px;}
div.uploadbtn .simplebtn span       { display: none; }
div.uploadbtn .simplebtn:hover span { display: inline-block; }
div.uploadbtn .simplebtn:hover      { opacity: 1 !important; }

/* -- Live Search -- */
ul.dwls_search_results     { width: 250px !important; z-index: 999999 !important; }
ul.search_results li.post_with_thumb a { width: 150px !important; float:left; margin-top: 3px !important; margin-bottom: 0px !important; }
ul.search_results li       { padding: 7px 10px 5px 10px !important; font-size: 12px !important; line-height: 18px !important; }

/* -- Top Header Menu --
##################### */
.jquerycssmenu             { font-size: 16px; font-weight: 700; float: left; padding-top: 16px; margin: 0 0 0 30px; position: relative;}
.jquerycssmenu ul li       { position: relative; display: inline; float: left; padding: 0; }
.jquerycssmenu ul li i     { padding: 0 2px; font-size: 16px; margin-top: 5px;}
.jquerycssmenu ul li span  { display: block; margin-top: -20px; font-size: 12px; font-weight: normal;  }

/*Top level menu link items style*/
.jquerycssmenu ul li a     {
	display: block; padding: 4px 8px 0px 8px;
	margin-right: 15px;
	line-height: 38px;
}
/*1st sub level menu*/
.jquerycssmenu ul li ul    { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-right-radius: 3px; position: absolute; z-index: 201; margin-top: 0px; margin-left: 0px; padding: 14px 0 10px 0; display: block; visibility: hidden; -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2); box-shadow: 0 5px 3px rgba(0,0,0,0.2); }
.jquerycssmenu ul li ul:hover { /*display: none;*/}
.jquerycssmenu ul li ul a:hover {border-radius: 0; }
.jquerycssmenu ul li ul li ul a:hover {border-radius: 0; }

/*Sub level menu list items (undo style from Top level List Items)*/
.jquerycssmenu ul li ul li { display: list-item; float: none; font-weight: 700;}
.jquerycssmenu ul li ul li a { padding: 8px 0 !important; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jquerycssmenu ul li ul li ul { top: 0; margin:-14px 0 0 -1px; z-index: 100; }

/* Sub level menu links style */
.jquerycssmenu ul li ul li a { font-size: 12px; height: auto; line-height: 1.4em; width: 160px; margin: 0; padding-left: 18px !important; }

.jquerycssmenu ul li ul li a:hover { /*sub menus hover style*/ }

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass             { position: absolute; top: 52px; left: 40%; }
.rightarrowclass            { position: absolute; top: 14px; right: 18px; }

/* -- Menu Categories -- */
.menu-categories           { margin: 0 0 0 -75px; }
.menu-categories .downarrowclass  { top: 15px !important; }
.menu-categories .jquerycssmenu { float: none; width: 100%; text-align: center; font-size: 14px; padding-top: 0px;}
.menu-categories .jquerycssmenu li { float: none; display: inline-block; text-align: left; margin-top: 0px;}
.menu-categories .downarrowclass  { top: 32px; }

/* -- Sticky Header -- */
header .stickytop                     { position: fixed; width: 100%; left: 0; top: 0; z-index: 999999 !important; border-top: 0; }
header .stickytop.sticky-on           { width: 100%; height: 60px; margin: 0 auto;transition: 500ms;}
header .stickytop .logo               { height: 60px; }
header .stickytop .jquerycssmenu      { margin-top: -8px; font-size: 13px;}
header .stickytop .jquerycssmenu ul li span { display: none;}
header .stickytop .jquerycssmenu ul li ul { margin-top: -22px;}
header .stickytop .jquerycssmenu ul li ul li ul { margin:-14px 0 0 -1px; }
header .stickytop .downarrowclass     { top: 32px;}
header .stickytop #searchform2        { margin-top: 14px;}
header .stickytop #searchform2 #s     { height: 30px;}
header .stickytop #searchform2 .buttonicon { width: 32px; height: 32px; background:url(images/btn_search.png) 8px 9px no-repeat;}
header .stickytop #s:focus            { width: 178px; overflow: hidden;}
header .stickytop .jquerycssmenu ul li a:hover { opacity: 0.6;}
header .stickytop div.uploadbtn       { margin: 5px 25px 0 5px;}
header .stickytop div.uploadbtn .simplebtn   { padding: 2px 8px 1px 8px; font-size: 14px; }

/* -- Sticky Posts style -- */
#infinite-articles .sticky  { z-index: 101 !important;}


/*-----------------------------------------------------------------------------
----------------------------- 3 - Home Content --------------------------------
-----------------------------------------------------------------------------*/

/* ##### Featured Slider home #####
################################## */
.featured-title            { width: 160px; height: 165px; float: right; padding-left: 20px; position: relative; z-index: 101; margin-bottom: -165px; }
.featured-title h3         { font-size: 24px; text-align: left; padding-top: 48px; }
ul.featured-articles-slider li img { width: 100%; height: 165px;}
.featured-articles .article-comm { margin-left: 0px !important;}
.featured-articles-slider, .random-articles-slider  { width: 100%; height:165px; position: absolute; padding:0px !important;overflow:hidden; }
.featured-articles .title-box    { width: 300px; height: 70px; margin-top: -77px; position: relative; }
.featured-articles .title-box h2 { font-size: 14px; padding: 0 20px 0 20px; line-height: 18px; bottom: 0; }
.featured-articles .title-box h2 a { padding: 0px 0; display: block;}
.featured-articles .title-box .review-box-nr      { font-size: 12px; float: none; }
.featured-articles .title-box span { float: left; font-size: 11px; font-weight: bold; margin-left: 20px; margin-right: 10px;}
/* - Category - */
.featured-articles .article-category i { float: right;  border-style: solid; border-width: 11px 5px 11px 10px; margin: -1px -15px -5px 0px; height: 1px; width: 0px; }
.featured-articles .article-category   { position: absolute;  margin: 10px 0 0 32px; font-size: 11px; text-transform: uppercase;  padding: 1px 10px 0 10px;}
.featured-articles .article-category:hover { opacity: 0.9;}
.featured-articles .article-category:hover i { opacity: 0.9;}
/* - controls - */
.slide-nav                 { float: left; margin-top: 5px; margin-left: -5px; }
#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a { font-size: 12px; padding: 5px; }
/* - default settings - */
.bx-wrapper .bx-viewport   {  margin:0; z-index:1; width:100%;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-loading { display: none;}
.bx-wrapper .bx-controls-direction a {  display: none;}

/* ###### Blog Masonry style ######
#################################### */
ul.masonry_list            { width: auto; height: auto; }
ul.masonry_list li         { width: 290px; height: auto; float: left; margin: 0 0 25px 25px; }
ul.masonry_list li img     { width: 100%; float: left; margin-bottom: 0px; border-top-left-radius: 2px; border-top-right-radius: 2px;}
ul.masonry_list li h3      { font-size: 13px; line-height: 18px; }
ul.masonry_list li p       { font-size: 13px; padding: 10px 0 0 0; }
ul.masonry_list .small-content { padding: 0 25px 0 25px;}
ul.masonry_list .an-widget-title h2   { font-size: 16px; line-height: 22px; margin-top: 15px;}
ul.masonry_list .review-box-nr      { font-size: 12px;}
ul.masonry_list .an-widget-title i  { font-size: 12px; padding-left: 2px;}
ul.masonry_list .an-widget-title span { font-size: 11px; }
ul.masonry_list .an-widget-title span a { background-color: transparent !important;}
/* - Meta - */
.masonry_list .home-meta  { width: auto; height: 30px; padding: 0 25px; margin-top: 15px;}
.masonry_list .an-display-time { float: left; font-size: 11px; padding: 5px 15px 0 0; }
.masonry_list .an-display-comm { float: left; font-size: 12px; padding: 0 0 0 0;}
.masonry_list .an-display-view  { float: left; font-size: 11px; padding: 5px 0 0 0;}
.home-meta div.an-display-view span { display: none;}
/* - Like & unlike - */
.thumbs-rating-already-voted   { margin-top: -22px !important; position: relative;}
.masonry_list .home-data      { width: auto; float: right; font-size: 20px; margin-top: 6px;}
.masonry_list .home-data .thumbs-rating-container .thumbs-rating-up,
.masonry_list .home-data .thumbs-rating-container .thumbs-rating-down { font-size: 12px; padding: 0 0 0 10px; font-weight: bold; }
/* - categories ribbon - */
ul.masonry_list .article-category i { float: right;  border-style: solid; border-width: 11px 5px 11px 10px; margin: -1px -15px -5px 0px; height: 1px; width: 0px; }
ul.masonry_list .article-category   { border-radius: 2px; position: absolute;  margin: 10px 0 0 30px; font-size: 11px; text-transform: uppercase;  padding: 1px 10px 0px 10px;}
ul.masonry_list .article-category:hover { opacity: 0.9;}
ul.masonry_list .article-category:hover i { opacity: 0.9;}
/* - comments ribbon - */
.article-comm { border-radius: 2px; position: absolute; margin: 10px 0 0 -2px;}
.article-comm a { font-size: 11px; padding: 0 5px; }
/* - Review - */
.review-box-nr      { float: left; margin-right: 10px;  }
/* - Home ADS -*/
ul.masonry_list li.homeadv,
ul.masonry_list li.homeadv script,
ul.masonry_list li.homeadv iframe,
ul.masonry_list li.homeadv embed,
ul.masonry_list li.homeadv object,
ul.masonry_list li.homeadv img { width: 290px; background-color: inherit; background-color: transparent !important; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0); box-shadow: 0 1px 5px rgba(0,0,0,0); }
ul.masonry_list li.homeadv span { color: #999; text-align: center !important; display: block; font-size: 10px; text-transform: uppercase;}

/* -- infinite scroll Pagination -- */
#infscr-loading            { width: 40px; height: 40px; border-radius: 3px; display: block; position: fixed; bottom: 10px; right: 55px; z-index:999999;}
#infscr-loading span       { margin: 0 0 0 12px; line-height: 40px; font-size: 16px; }
#infscr-loading img        { margin: 12px 0 0 12px;}

/* -- Pagination -- */
.wp-pagenavi                      { float: none; width: 100%; text-align: center; padding: 20px 0; font-size: 15px; }
.wp-pagenavi a, .wp-pagenavi span { display: inline-block; padding:5px 13px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;  list-style: none;  margin: 0; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin-right:1px; font-size:12px; font-weight:bold; }
.wp-pagenavi a:hover { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.wp-pagenavi span.current         { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}

/* -- Default pagination numbers -- */
.defaultpag                       { }
.defaultpag .sright               { float: right; margin: 0 100px 0 0;}
.defaultpag .sleft                { float: left; margin: 0 0 0 100px;}

/* -- Home Share -- */
ul.masonry_list li:hover .home-share a { opacity: 1;}
.home-share  { width:100%; height: auto; text-align: center; float: none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; margin-bottom: 20px !important; }
.home-share a { float: left; width: 20%; opacity: 0.3; padding-top: 1px;}
.home-share a.fbbutton    { font-size: 12px; text-transform: uppercase; display: inline-block; background-color: #3b5998; color: #FFF !important;}
.home-share a.twbutton    { font-size: 12px; text-transform: uppercase; display: inline-block; background-color: #00aced; color: #FFF !important;}
.home-share a.pinbutton   { font-size: 12px; text-transform: uppercase; display: inline-block; background-color: #ca212a; color: #FFF !important;}
.home-share a.googlebutton{ font-size: 12px; text-transform: uppercase; display: inline-block; background-color: #eb4026; color: #FFF !important;}
.home-share a.emailbutton { font-size: 12px; text-transform: uppercase; display: inline-block; background-color: #666; color: #FFF !important;}
/* -- Chrome CSS -- */
@media screen and (-webkit-min-device-pixel-ratio:0) { .home-share a { padding-top: 2px; } }

/*-----------------------------------------------------------------------------
----------------------------- 4 - Entry Content -------------------------------
-----------------------------------------------------------------------------*/

/* -- Archive-header -- */
.archive-header            { text-align: left;margin: 20px 0;position: relative;z-index: 10;}
.archive-header h3         { font-weight: 400; font-size: 18px; }
.archive-header h3:after   { display: block; content: ""; width: 30px; height: 2px; margin-top: 5px; margin-bottom: 15px; }

/* -- About Author -- */
.author-meta               { width: 720px; height: auto; padding: 25px 0 20px 0; margin: 0 auto 35px auto; }
.author-info               { width: auto; height: auto; margin: 5px 25px -15px 110px;}
.author-meta strong        { text-transform: uppercase; padding-right: 10px;}
.author-info p             { margin: 5px 0 0 0; }
.author-info a.author-link { text-decoration: underline; padding-left: 8px; font-size: 13px;}
.author-left-meta          { width: 70px; height: auto; float: left; padding: 0 25px 0 25px;}
.author-left-meta img.avatar { width: 70px; height: 70px; }
ul.author-social-top       { margin-left: 2px;}
ul.author-social-top li        { font-size: 12px; display: inline-block;   }
ul.author-social-top li a      { width: 20px; height: 20px; display: inline-block;  }
ul.author-social-top li a:hover{ opacity: 0.7;}
ul.author-social-top li a i    { padding-left: 3px;}

/* -- Related articles -- */
.related-box               { width: 720px; height: auto; margin: -5px auto 30px auto;}
.related-box ul            { padding: 0 1px;}
.related-box .one_half, .related-box .one_half_last { float:left; width:47%; margin-right:6%; }
.related-box .one_half_last{ margin-right:0;}
.arrow-down-related        { margin: -23px auto 25px auto; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; }
.related-box h3.title      { border-radius: 3px; text-align: center;}

/* -- Bottom banner 728x90 -- */
.single-728                { width: 100%; height: auto; margin: 45px auto 45px auto; }
.img728                    { width: 728px; height: 90px; margin: 0 auto;}

/* - Top entry banner / meta date - */
.single-box                { width: 950px; height: 150px; float: left; }
.single-money              { width: 728px; height: 90px; margin: 30px auto;}
.meta-wrap                 { width: 100%; height: 30px; }
.single-content .single-meta  { width: 720px; height: 30px; margin: 0 auto; }
.single-content .an-display-time { float: left; font-size: 11px; padding: 5px 15px 0 0; }
.single-content .an-display-comm { float: left; font-size: 11px; padding: 5px 0 0 0;}
.single-content .an-display-view  { float: left; font-size: 11px; padding: 5px 15px 0 0}
.single-content .single-data      { width: auto; float: right; font-size: 20px; margin-top: 6px;}
.single-content .single-data .thumbs-rating-container .thumbs-rating-up,
.single-content .single-data .thumbs-rating-container .thumbs-rating-down { font-size: 12px; padding: 0 0 0 10px; font-weight: bold; }

/* -- Entry Top / Featured Image / Videos -- */
img.attachment-thumbnail-single-image { max-width: 100%; display: block; margin-left: auto; margin-right: auto; height: auto; }
.entry-top                 { width: 720px; height: auto; margin: 0 auto; padding: 30px 0; text-align: center;}
.entry-top i               { font-size: 12px; padding-left: 2px;}
.entry-top span            { font-size: 12px; }
/* - title - */
h1.article-title           { font-size: 36px; font-weight: 600; line-height: 44px; }
.entry h1.page-title       { font-size: 36px; font-weight: 600; line-height: 44px; text-align: center; padding-bottom: 10px; margin-bottom: 20px; text-decoration: none;}
/* - featured img / videos - */
.media-single-content      { width: 100%; height: auto; margin-bottom: 30px;}
.single-gallery            {  width: 720px; height: auto; margin-right: auto; margin-left: auto; }
.single-gallery img        { margin: 0 0 -7px 0 !important; }
.single-gallery img:hover  { opacity:.9;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1);-webkit-animation:scaleUp 1s ease-in-out forwards;-moz-animation:scaleUp 1s ease-in-out forwards;animation:scaleUp 1s ease-in-out forwards}@-webkit-keyframes scaleUp{to{-webkit-transform:scale(1)}}@-moz-keyframes scaleUp{to{-moz-transform:scale(1)}}@keyframes scaleUp{to{transform:scale(1)}}
iframe.single_iframe       { max-width: 720px; margin-left: auto; margin-right: auto; float: none; display: block;}
#fancybox-title-float-main { background-color: #FFF; padding: 0 25px; position: relative; border-radius: 2px;}

/* -- Entry excerpt -- */
div.entry-excerpt h3       { text-decoration: none; }
div.entry-excerpt p        {font-size: 19px; font-weight: normal; line-height: 30px;}
div.entry-excerpt:after    { display: block; content: ""; width: 30px; height: 2px; margin-top: 5px; margin-bottom: 10px;}

/* -- Entry Banner -- */
.entry-img-300             { width: 300px; float: right; margin: 20px -80px 20px 20px; position: relative; }

/* -- Entry bottom -- */
.entry-bottom              { width: 720px; height: auto; margin: 20px auto 10px auto;}
.single-content h3.title   { font-weight: normal; text-align: center; font-size: 13px; text-transform: uppercase;  padding: 2px 10px 1px 10px; margin: 5px 0 20px 0; border-radius: 2px;}
.single-content h3.title span { opacity: 0.8; border-bottom: 1px solid #FFF;}

/*-- Entry button -- */
.entry-btn                 { font-size: 12px; display: inline-block; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 1px 10px; text-align: center; margin: 5px 5px 0 0; }
.ct-size a                 { font-size: 12px;  font-weight: bold;}

/* -- Entry content style -- */
.entry                     { width: 720px; height: auto; margin: 0 auto;}
.entry p a                 /*{ padding: 0 5px; font-size: 12px; }*/
.entry p a:hover           { text-decoration: underline;}
.entry p                   { padding: 10px 0; font-size: 15px; line-height: 26px; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { margin-top: 35px; /*text-decoration: underline;*/ }
.entry strong              { font-weight: bold; }

/* -- blockquote -- */
blockquote                 { text-align: center; font-weight: normal; margin:40px; background:url(images/quotes.png) no-repeat top left; padding:0 0 0 35px;}
blockquote p               { font-size: 20px !important; line-height: 30px !important; padding-right: 25px !important; background:url(images/quotes.png) no-repeat bottom right; font-style: italic; }

/* -- Responsive Images -- */
.entry iframe              { max-width: 100%;}
.entry embed               { max-width: 100%;}
.entry object              { max-width: 100%;}
.entry img, .wp-caption    { max-width: 100%; border-radius: 3px; }
.entry img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] { height: auto; }
img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img { height: auto; max-width: 100%; }
img.alignleft, .alignleft img   { width: inherit !important;}
img.alignright, .alignright img { width: inherit !important;}
.alignleft                 { float: left; margin: 20px 20px 10px -80px; }
.alignright                { float: right; margin: 20px -80px 10px 20px; }
.aligncenter               { display: block; margin: 30px auto 10px auto;}
.wp-caption img[class*="wp-image-"] { display: block; margin: 0; }
.wp-caption-text { font-size: 12px !important; margin-top: -7px; padding: 0 10px 0 10px; text-align: center; }
p.wp-caption-text a { background: transparent !important; }
p > a.wp-img-bg-off { background: none !important; /* for images manually added */}
/* -- End res. img -- */

/* -- Lists -- */
.entry th                  { padding: 0; margin-right: 2px; }
.entry li                  { padding:3px 0 3px 5px; }
.entry ul                  { margin:20px 40px; list-style-type: square;}
.entry ol                  { margin:20px 40px; list-style-type: decimal;}

/* -- Pagination entry articles -- */
.my-paginated-posts      { text-align: center; font-size:10px; margin-bottom: 30px; }
.my-paginated-posts span { padding: 3px 6px 3px 6px; border-radius: 3px;}
.my-paginated-posts p    { font-size:1.4em; }
.my-paginated-posts p a  { border-radius: 3px; font-weight: bold; padding: 6px 10px; text-decoration:none; margin: 0 1px; }
.my-paginated-posts a:hover { opacity: 0.8; }

/* ###### Resume Builder Style ######
#################################### */
/* - Introduction - */
.rb-resume-block { padding: 50px 0 0 0; }
.rb-resume-block .rb-about .rb-about-text .rb-title { margin-top: 10px; padding-bottom: 0px; }
.rb-resume-block .rb-about .rb-about-text .rb-subtitle { display: inline-block; padding: 0 20px; font-size:16px; margin:0 0 15px 0; border-radius: 2px; }
.rb-resume-block .rb-about .rb-about-text .rb-description p { padding-bottom: 15px;}
.rb-resume-block .rb-about .rb-about-text .rb-description { padding-bottom: 0px;}
/* - widget title - */
h3.widget-title { margin-bottom: 5px; text-transform: uppercase; line-height: 1; font-size: 14px;}
h3.widget-title:after { display: block; content: ""; width: 30px; height: 2px; margin-top: 5px; margin-bottom: 15px; }
/* - Widget Styling skills - */
.rb-widget-experience { font-size: 13px; }
.rb-widget-experience .rb-experience-title { padding: 0px; font-size:15px; }
.rb-experience-rating { font-size: 13px; margin: -5px 0 0 0; padding: 0px;}
.rb-widget-experience .rb-experience-description p { font-weight:14px; line-height:20px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgba(241, 241, 241, .8); }
/* - Widget Styling contact - */
.widget .rb-contact-block, .widget .rb-contact-block li { list-style:none; }
.widget .rb-contact-block li { font-size: 13px; font-weight: bold; min-height: 35px; margin: 5px 0; padding: 10px 0 5px 0; border-bottom: 1px solid rgba(241, 241, 241, .8); }
.widget .rb-contact-block li span { font-size: 13px; float: left; border-radius: 50%; width: 30px; height: 30px; line-height: 32px; text-align: center; margin: -4px 17px 0 0; }
/* - Buttons - */
.rb-resume-block .rb-btn, .widget .rb-resume-block .rb-btn { border-radius: 3px; padding: 4px 14px 2px 14px; }
/* Experience */
.rb-resume-block .rb-experience .rb-section-title { border: none; padding: 0 0 0 0;}
.rb-resume-block .rb-experience .rb-section-title:after { display: block; content: ""; width: 30px; height: 2px; margin-top: 15px; margin-bottom: 15px; }
.rb-resume-block .rb-experience-item { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgba(241, 241, 241, .8);}
.rb-resume-block .rb-experience-item .rb-right p { font-size: 14px;}
.rb-resume-block .rb-experience-item .rb-right p:after { display: block; content: ""; width: 30px; height: 2px; margin-top: 5px; margin-bottom: 15px; }

/* -- Single Share -- */
#single-share  { width:auto; height: auto; text-align: center; float: none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; margin-bottom: 20px !important; }
#single-share a span { color: #FFF;}
#single-share a:hover { opacity: 0.8;}
#single-share a.fbbutton    { float: none; padding:4px 15px 2px 15px; margin-right: 10px; font-size: 13px; text-transform: uppercase; border-radius: 2px; display: inline-block; background-color: #3b5998; color: #FFF !important;}
#single-share a.twbutton    { float: none; padding:4px 15px 2px 15px; margin-right: 10px; font-size: 13px; text-transform: uppercase; border-radius: 2px; display: inline-block; background-color: #00aced; color: #FFF !important;}
#single-share a.pinbutton   { float: none; padding:4px 15px 2px 15px; margin-right: 10px; font-size: 13px; text-transform: uppercase; border-radius: 2px; display: inline-block; background-color: #ca212a; color: #FFF !important;}
#single-share a.googlebutton{ float: none; padding:4px 15px 2px 15px; margin-right: 10px; font-size: 13px; text-transform: uppercase; border-radius: 2px; display: inline-block; background-color: #eb4026; color: #FFF !important;}
#single-share a.emailbutton { float: none; padding:4px 15px 2px 15px; margin-right: 10px; font-size: 13px; text-transform: uppercase; border-radius: 2px; display: inline-block; background-color: #666; color: #FFF !important;}
#single-share a.emailbutton i { font-size: 14px; margin-right: 5px;}
#single-share .googlebutton i,
#single-share .pinbutton i,
#single-share .fbbutton i,
#single-share .twbutton i  { font-size: 16px; margin-right: 5px; }
/* -- Chrome CSS -- */
@media screen and (-webkit-min-device-pixel-ratio:0) { #single-share i {  } }

/*-----------------------------------------------------------------------------
----------------------------- 5 - Sidebar & Widgets ---------------------------
-----------------------------------------------------------------------------*/

/* -- Sidebar -- */
.sidebar .widget h3.title,
.sidebar-left .widget h3.title, h3.top-title { margin-bottom: 5px; text-transform: uppercase; line-height: 1; font-size: 14px;}
.sidebar .widget, .sidebar-left .widget      { width: 250px; padding: 0 25px 20px 25px; margin-bottom: 30px;}
h3.top-title                                 { padding-left: 25px;}
.widget h3.title:after, h3.top-title:after   { display: block; content: ""; width: 30px; height: 2px; margin-top: 5px; margin-bottom: 15px; }

/* -- Social Count -- */
.social-count-plus { padding-left: 4px !important; padding-top: 25px; }
.widget_socialcountplus { margin-bottom: 45px !important; padding-bottom: 0px !important;}

/* -- FeedBurner -- */
div.feed-info i        { display: block; padding: 10px 0 0px 0; }
div.feed-info          { text-align: center; padding: 0 15px 15px 15px;}
#newsletter-form       { padding-bottom: 5px;}
#newsletter-form input { width:100%; }
#newsletter-form input.newsletter  { height:30px; font-weight: bold; font-size: 12px; text-align: center; margin-bottom: -3px; border-top-left-radius: 2px; border-top-right-radius: 2px; opacity: 0.5; }
#newsletter-form input.newsletter-btn  { width:253px; position: relative; font-size: 10px; font-weight: 600; text-transform: uppercase; padding: 8px 0 7px 0; margin: 0 0 0 0; text-align: center; border: none; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
#newsletter-form input.newsletter-btn:hover { opacity:.85;  cursor: pointer; }

/* -- Article widget -- */
ul.article_list          { width: 100%; height: auto; border-radius: 2px; margin-top: -15px;}
ul.article_list li         { width: auto; min-height: 55px; display: block; padding: 15px 0; }
ul.article_list li:last-child { }
ul.article_list li img     { float: left; border-radius: 2px; margin-bottom: 0px; }
ul.article_list li h3      { font-size: 13px; line-height: 18px; }

ul.article_list .article-category i { float: right;  border-style: solid; border-width: 11px 5px 11px 10px; margin: -1px -15px -5px 0px; height: 1px; width: 0px; }
ul.article_list .article-category   { border-radius: 2px; position: absolute;  margin: 10px 0 0 30px; font-size: 11px; text-transform: uppercase;  padding: 1px 10px 0 10px;}
ul.article_list .article-category:hover { opacity: 0.9;}
ul.article_list .article-category:hover i { opacity: 0.9;}

ul.article_list .an-widget-title h3   { font-size: 16px; line-height: 22px; margin-top: 15px;}
ul.article_list .an-widget-title h4   { font-size: 13px; line-height: 18px; }
ul.article_list .review-box-nr      { font-size: 12px;}
ul.article_list .an-widget-title i  { font-size: 12px; padding-left: 2px;}
ul.article_list .an-widget-title span { font-size: 11px; }

/* -- Banner widget 300px -- */
.img-300          { width: 300px; height: auto; margin:0 0 0 -25px; padding: 0px;}

/* -- Categories in two columns -- */
.widget_anthemes_categories ul { width: 275px; margin-top: -10px; margin-left: -25px; display: inline-block;}
.widget_anthemes_categories li a { font-weight: normal;}
.widget_anthemes_categories li { border-bottom: 1px solid rgba(241, 241, 241, .8); float: left;  width: 112px;  margin-left: 25px; line-height: 35px; font-size: 12px; font-weight: bold; }

/* -- Custom Text -- */
.widget-text             { }
.widget_text img           { max-width: 100% !important;}
.widget_text select { width: 100%; padding: 10px 20px;}
.widget_text option { padding: 0 10px;}

/* -- Widget RSS -- */
.widget_rss h3 a img     { width: 10px; height: 10px;}
.widget_rss li { background: url(images/li_minus_gold.png) no-repeat 0 16px;  border-bottom: 1px solid rgba(241, 241, 241, .8);  display: block;  padding: 10px 0 10px 20px; }
.widget_rss li a { font-weight: bold;}

/* -- Default Tags -- */
div.widget_tag_cloud     { display: inline-block; margin-bottom: 10px;}
div.tagcloud span        { font-weight: bold; }
div.tagcloud a           { float: left; display: inline-block; padding:3px 10px; list-style: none;  border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin:0 4px 4px 0; font-size:12px !important; font-weight:400;}

/* -- Default Search -- */
div.widget_search        { padding-bottom: 25px !important; }
div.widget_search #searchform2 { float: left; margin: 0; }
div.widget_search #searchform2 #s { width: 170px; background-color: #fafafa; }
div.widget_search #searchform2 #s:focus { width: 170px; overflow: hidden;}
footer div.widget_search { padding-bottom: 25px !important; }

/* -- Recent Entries -- */
div.widget_recent_entries ul { }
.widget_recent_entries li {  /*background: url(images/li_minus_green.png) no-repeat 0 16px;*/ border-bottom: 1px solid #f0eee9; display: block;  padding: 10px 0 10px 10px; }
.widget_recent_entries li:last-child {  border: none;  }

/* -- Recent Comments -- */
div.widget_recent_comments ul { }
.widget_recent_comments li { background: url(images/li_minus_black.png) no-repeat 0 16px; border-bottom: 1px solid #f0eee9; display: block; padding: 10px 0 10px 20px; }
.widget_recent_comments li:last-child { border: none; }

/* -- Archives in two columns -- */
.widget_archive ul { /* list-style-type: circle; */ width: 275px; margin-top: -10px; margin-left: -25px; display: inline-block;}
.widget_archive li a { font-weight: normal;}
.widget_archive li { border-bottom: 1px solid rgba(241, 241, 241, .8); float: left;  width: 112px;  margin-left: 25px; line-height: 35px; font-size: 12px; color: #ffd800; font-weight: bold; }

/* -- Archives and Nav menu widget -- */
div.widget_nav_menu ul { }
.widget_nav_menu li { background: url(images/li_minus_gold.png) no-repeat 0 16px;  border-bottom: 1px solid #f0eee9; display: block;  padding: 10px 0 10px 20px; }
.widget_nav_menu li:last-child { border: none;  }
div.widget_archive select { width: 100%; padding: 10px 20px;}
div.widget_archive option { padding: 0 10px;}
div.widget_nav_menu li ul.sub-menu { margin: -5px 0 -10px 10px; padding: 10px 0 0 0;}
div.widget_nav_menu li ul.sub-menu li { padding: 10px 0 10px 20px; }

/* -- Meta in two columns -- */
.widget_meta ul { list-style-type: circle; width: 275px; margin-top: -10px; margin-left: -25px; display: inline-block;}
.widget_meta li a { font-weight: normal;}
.widget_meta li { border-bottom: 1px solid rgba(241, 241, 241, .8); float: left;  width: 112px;  margin-left: 25px; line-height: 35px; font-size: 12px; color: #ffd800; font-weight: bold; }

/* -- Meta and Pages widget -- */
div.widget_pages ul { }
.widget_pages li { background: url(images/li_minus_black.png) no-repeat 0 16px; border-bottom: 1px solid #f0eee9; display: block; padding: 10px 0 10px 20px; }
.widget_pages li:last-child { border: none; }

/* -- Categories -- */
div.widget_categories ul { }
.widget_categories li { background: url(images/li_minus_gold.png) no-repeat 0 16px; border-bottom: 1px solid #f0eee9; display: block; padding: 10px 0 10px 20px; }
.widget_categories li:last-child { border: none;  }
div.widget_categories select { width: 100%; padding: 10px 20px;}
div.widget_categories option { padding: 0 10px;}
.widget_categories li ul.children { margin: -5px 0 -10px -5px; padding: 10px 0 0 0;}
.widget_categories li ul.children li { padding: 10px 0 10px 20px; }

/* -- Calendar -- */
#wp-calendar {width: 100%;}
#wp-calendar caption { text-align: center; font-weight: bold; margin-bottom: 10px; color: #333; font-size: 15px; padding: 0 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:5px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody td a { font-weight: bold; color: #222; display: block;}
#wp-calendar tbody td#today { border-radius: 4px;}
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

/* -- Mode default widgets -- */
.sticky {}
.gallery-caption {}
.bypostauthor {}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


/*-----------------------------------------------------------------------------
----------------------------- 6 - Comments Form -------------------------------
-----------------------------------------------------------------------------*/

.nocomments, .nopassword, .must-log-in  { text-align: center; padding: 15px 0 0 0; }

ul.comment                    { width: 720px; margin: 0 0 50px 0; }
ul.comment li                 { display: block; margin: 0 0 20px 0; padding: 20px 20px 0 20px; border-radius: 3px; overflow: hidden; }
ul.comment li span.comm-avatar    { width: 20px; height: 20px; float: left; margin-right: 5px;}
ul.comment li span.comment-author { margin-right: 15px; font-weight: bold; text-transform: uppercase; font-size: 15px; float: left;}
ul.comment li span.comment-date { float: left; opacity: 0.5;}
.comment-body                 { padding-bottom: 5px;}
ul.comment li ul.children     { margin: 20px 0 0 0;}

/* -- Comments -- */
.comments                     { width: 720px; float: left;  height: auto; margin: 0 0 0 0;}
.comments h3.comment-reply-title  { text-align: center; width: auto; height: 26px; font-weight: normal; border-radius: 2px; font-size: 13px; text-transform: uppercase;  padding: 2px 10px 1px 10px; margin: 5px 0 0 0; }
.comments h3.comment-reply-title i { float: right; border-style: solid; border-width: 14px 5px 15px 10px; margin: -2px -15px -5px 0px; height: 0px; width: 0px; }
.comments h3.comment-reply-title a { font-weight: bold; text-decoration: underline;}
.comments h3.comment-reply-title a#cancel-comment-reply-link { text-decoration: none; color: #F00; font-size: 11px; }

/* -- Comment Form -- */
.comment-notes                { display: none;}
#commentform                  { padding: 0 6px 20px 0; font-size:11px;}
#commentform #author, #comment, #email { width:100%; height:40px; font-size: 14px; font-weight: bold; border-radius: 3px;}
#commentform #sendemail       { border: 1px solid #FFF; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 9px 21px; text-align: center; margin: 15px 5px -10px 0;}
#commentform #sendemail:hover { opacity:.85;  cursor: pointer; }
#commentform input, #comment  { padding-left: 5px;  }
#commentform textarea         { -moz-resize:vertical; resize:vertical;}
#commentform #comment:hover   { height: 100px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
#commentform label            { display: block; margin-top:10px; font-size:11px; font-weight: bold; }
#commentform label span       { font-size: 15px; }

/* -- Comment Cols -- */
.one_half_c, .one_half_last_c { float:left; width:48%; margin-right:4%; }
.one_half_last_c              { margin-right:0;}
.one_full_c                   { float:left; width:100%;}



/*-----------------------------------------------------------------------------
----------------------------- 7 - Contact Form --------------------------------
-----------------------------------------------------------------------------*/

/* -- Contact Form -- */
#contactform                  { margin:0 0 10px 0; font-size:11px;}
#contactform #contactName, #contactform #emaill, #contactform #subject { width:98%; height:40px; font-size: 14px; font-weight: bold; border-radius: 3px;}
#contactform #subject         { width: 99%;}
#contactform textarea         { width: 99%; height:200px; line-height:22px; font-size: 14px; border-radius: 3px; font-weight: bold; -moz-resize:vertical; resize:vertical;}
#contactform .sendemail       { border-radius: 3px; border: 1px solid #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 7px 21px; text-align: center; margin: 25px 5px -10px 0;}
#contactform .sendemail:hover { opacity:.85;  cursor: pointer; }
#contactform input, #contactform textarea   { padding-left: 5px;  }
#contactform label            { display: block; margin-top:10px; font-size:11px; font-weight: bold; }
#contactform label span       { font-size: 15px; }
#contactform label.error      { font-size:11px; text-align: right; margin-top:-20px; padding-right:10px;  font-weight: bold; }

/* -- Contact Form 7 Plugin -- */
form.wpcf7-form               { margin:0 0 0 0; font-size:11px;}
form.wpcf7-form input         { width: 98%; height:40px; font-size: 14px; font-weight: bold; border-radius: 3px; padding-left: 2%; }
form.wpcf7-form textarea      { width: 98%; height:200px; line-height:22px; font-size: 14px; border-radius: 3px; font-weight: bold; -moz-resize:vertical; resize:vertical; padding-left: 2%;}
form.wpcf7-form input.wpcf7-submit       { width: inherit !important; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 6px 20px; text-align: center; }
form.wpcf7-form input.wpcf7-submit:hover { opacity:.85;  cursor: pointer; }
form.wpcf7-form img.ajax-loader { width: inherit !important;}
form.wpcf7-form .wpcf7-validation-errors { margin-top: -75px; margin-left: -10px; position: relative; border: none; }
form.wpcf7-form span.wpcf7-form-control-wrap { width: 100% !important;}

/*-----------------------------------------------------------------------------
----------------------------- 8 - Custom Pages --------------------------------
-----------------------------------------------------------------------------*/

/* -- Tag & Category Index -- */
#mcTagMap .tagindex h4, #sc_mcTagMap .tagindex h4 { font-size: 14px; font-weight: bold; }
#mcTagMap .tagindex ul li span.mctagmap_count { float: right !important; opacity: 0.5;}
#mcTagMap .tagindex ul li, #sc_mcTagMap .tagindex ul li { font-size: 14px; }
#mcTagMap .holdleft, #sc_mcTagMap .holdleft { width: 163px !important; }

/* -- bbPress Plugin compatibility -- */
.bbpress img.avatar           { width: inherit; }

/* --- Review Plugin --- */
.review-final-score h3     { margin-top:7px !important;}
.entry h2.review-box-header { text-decoration: none;}
.entry .review-final-score h3 { text-decoration: none; }
.entry .review-final-score h4 { text-decoration: none; }
.entry .review-item h5   { text-decoration: none; font-weight: bold;}
.review-short-summary p  { font-size: 13px; }

/* -- Front-end Submission Form -- */
.ap-plugin-link-wrapper           { display: none;}
.ap-form-field-wrapper select     { height: 40px; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1);  font-weight: bold; border: 1px solid #eae9e9;  }
form.ap-form-wrapper div.ap-form-field input { height: 40px; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1); font-weight: bold; border: 1px solid #eae9e9; }
form.ap-form-wrapper label        { font-size:11px !important; font-weight: bold; }
.ap-form-error-message            { font-size:11px; font-weight: bold;}
form.ap-form-wrapper div.ap-form-error-message { margin-bottom: 20px !important;}
form.ap-form-wrapper #ap_form_content_editor { -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1);  font-weight: bold; border: 1px solid #eae9e9; }
#wp-ap_form_content_editor-editor-tools  { margin-top: -35px !important; }
.ap-form-field-wrapper            { margin-bottom: 30px; margin-top: 20px;}
.ap-form-wrapper h2               { font-size: 16px; display: none;}
input.ap-form-submit-button       { border-radius: 3px; border: 1px solid #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 3px 25px; text-align: center; }
input.ap-form-submit-button:hover { opacity:.85;  cursor: pointer; }
.ap-post-submission-message       { box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset; background:#e9f6e3; color:#93c088;
	border:1px solid #ceedc4; padding:15px; margin:15px 0; -moz-border-radius:2px; border-radius:2px; font-weight: bold; text-align: center;}


/*-----------------------------------------------------------------------------
------------------------------ 9 - Footer -------------------------------------
-----------------------------------------------------------------------------*/

footer                        { width: 100%; height: auto; bottom: 0;}
.social-section               { width: 100%; height: 75px; text-align: center;}
.wrap-footer                  { width: 100%; height: auto; margin: 0 auto; }

/* -- Copyright -- */
.copyright                    { width: 980px; height: auto; margin: 0 auto; padding: 20px 0 20px 0; text-align: center; }

/* -- Footer Social Icons -- */
ul.footer-social              { margin-left: auto; margin-right: auto; }
ul.footer-social li           { height: 40px; font-size: 24px; display: inline-block; margin: 27px 5px 0 5px; }
ul.footer-social li a         { text-align: center; padding: 5px 10px; }

/* -- Back to Top -- */
#back-top                     { position: fixed; bottom: 10px; right: 10px; z-index:999999; }
#back-top a                   { width: 40px; display: block;  }
#back-top span                { width: 40px; height: 40px; display: block;
	/*background: url(images/top.png) -5px -5px; could be changed*/
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }


/*-----------------------------------------------------------------------------
----------------------------- 10 - Shortcodes -------------------------------------
-----------------------------------------------------------------------------*/

/* -- Buttons  -- */
.simplebtn, .smallbtn  { display: inline-block; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; font-weight: bold;  padding: 6px 20px; text-align: center; margin: 10px 10px 0 0; }
.smallbtn          { padding: 0px 10px; font-weight: 600; }
.smallbtn a        { color: #FFF !important; }
.smallbtn a:hover  { background: inherit !important; text-decoration: underline;}
.simplebtn:hover   { opacity:.85; text-decoration: none !important; }
.simplebtn i       { padding-right: 5px;}
a.simplebtn.blue:hover  { background-color: #0099cc !important; color: #FFF !important;}
a.simplebtn.green:hover { background-color: #7dc34d !important; color: #FFF !important;}
a.simplebtn.green2:hover { background-color: #0fbe7c !important; color: #FFF !important;}
a.simplebtn.orange:hover{ background-color: #e76b33 !important; color: #FFF !important;}
a.simplebtn.gold:hover  { background-color: #ffd62c !important; color: #FFF !important;}
a.simplebtn.red:hover { background-color: #cc3333 !important; color: #FFF !important;}
a.simplebtn.pink:hover  { background-color: #d63f72 !important; color: #FFF !important; }
a.simplebtn.black:hover { background-color: #3b3b3b !important; color: #FFF !important; }
.simplebtn.blue    { background-color: #0099cc !important; border: 1px solid #0099cc !important; color: #FFF !important; text-shadow: 0 -1px 0 #0099cc;}
.simplebtn.green   { background-color: #7dc34d !important; border: 1px solid #7dc34d !important; color: #FFF !important; text-shadow: 0 -1px 0 #7dc34d;}
.simplebtn.green2  { background-color: #0fbe7c !important; border: 1px solid #0fbe7c !important; color: #FFF !important; text-shadow: 0 -1px 0 #0fbe7c;}
.simplebtn.orange  { background-color: #e76b33 !important; border: 1px solid #e76b33 !important; color: #FFF !important; text-shadow: 0 -1px 0 #e76b33;}
.simplebtn.gold    { background-color: #ffd62c !important; border: 1px solid #ffd62c !important; color: #FFF !important; text-shadow: 0 -1px 0 #ffd62c;}
.simplebtn.red     { background-color: #cc3333 !important; border: 1px solid #cc3333 !important; color: #FFF !important; text-shadow: 0 -1px 0 #cc3333;}
.simplebtn.pink    { background-color: #d63f72 !important; border: 1px solid #d63f72 !important; color: #FFF !important; text-shadow: 0 -1px 0 #d63f72;}
.simplebtn.black   { background-color: #3b3b3b !important; border: 1px solid #3b3b3b; color: #FFF !important; text-shadow: 0 -1px 0 #3b3b3b;}


/* -- Columns -- */
.one_half, .one_half_last         { float:left;width:48%; margin-bottom:10px; margin-right:4%; }
.one_half_last                    { margin-right:0;}

.one_third, .one_third_last       { float:left; width:30%; margin-bottom:10px; margin-right:5%; }
.one_third_last                   { margin-right:0;}

.one_fourth, .one_fourth_last     { float:left; width:23.5%; margin-bottom:10px; margin-right:2%; }
.one_fourth_last                  { margin-right:0;}

/* -- Boxes info  -- */
.boxinfo                          { box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset; background:#ddecf5; color:#99b1c1;
	border:1px solid #c3d9e5; padding:15px; margin:15px 0; -moz-border-radius:2px; border-radius:2px; font-weight: bold; text-align: center;}
.boxsucces                        { box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset; background:#e9f6e3; color:#93c088;
	border:1px solid #ceedc4; padding:15px; margin:15px 0; -moz-border-radius:2px; border-radius:2px; font-weight: bold; text-align: center;}
.boxerror                         { box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;	background:#ffe3e3; color:#cf9494;
	border:1px solid #fdcdcd; padding:15px; margin:15px 0; -moz-border-radius:2px; border-radius:2px; font-weight: bold; text-align: center;}
.boxnotice                        { box-shadow: 0px 0px 1px #fafafa, 0 2px 2px #fafafa inset;	background:#fcf9da; color:#b3ad77;
	border:1px solid #ebe7bc; padding:15px; margin:15px 0; -moz-border-radius:2px; border-radius:2px; font-weight: bold; text-align: center;}
.boxinfo,
.boxsucces,
.boxerror,
.boxnotice                        { max-width: 100% !important; display: inline-block !important; }

/* -- List styles Ã¢â‚¬â€œ ul  -- */
ul.simplelist li            { padding:3px 0 3px 15px; background: url(images/li_arrow.png) no-repeat 0px center; font-weight: 600;  }
ul.simplelist               { margin:20px 40px; list-style-type: none;}

ul.minus-blue-list li       { padding:3px 0 3px 17px; background: url(images/li_minus_blue.png) no-repeat 0px center; font-weight: 600;  }
ul.minus-blue-list          { margin:20px 40px; list-style-type: none;}

ul.minus-green-list li      { padding:3px 0 3px 17px; background: url(images/li_minus_green.png) no-repeat 0px center; font-weight: 600; }
ul.minus-green-list         { margin:20px 40px; list-style-type: none;}

ul.minus-orange-list li     { padding:3px 0 3px 17px; background: url(images/li_minus_orange.png) no-repeat 0px center; font-weight: 600; }
ul.minus-orange-list        { margin:20px 40px; list-style-type: none;}

ul.minus-gold-list li       { padding:3px 0 3px 17px; background: url(images/li_minus_gold.png) no-repeat 0px center; font-weight: 600; }
ul.minus-gold-list          { margin:20px 40px; list-style-type: none;}

ul.minus-black-list li      { padding:3px 0 3px 17px; background: url(images/li_minus_black.png) no-repeat 0px center; font-weight: 600; }
ul.minus-black-list         { margin:20px 40px; list-style-type: none;}
