/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     pin-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/

html body {
    font-family: 'Merriweather', serif !important;
    color: #666666;
}

/*Site title*/
h2.site-title {
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 30px 0px 30px 20px;
    color: #333;
}

h1.designer-clothes {
    color: #000;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 100;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

img.logo {
    margin-top: 13px;
    margin-left: 80.2px;
}

.main-header {
    /*height: 160px;when header banner is here*/
    height: 125px;
}

.main-header #searchform2 {
    float: none;
    width: 506px;
    display: inline-block;
    margin-top: 13px;
    display: none;
    margin-left: 12px;

}

.main-header #searchform2 #s {
    border: 0px;
    border-bottom: 1px solid #fff;
    width: 343px;
    background: url(images/btn_search.png) 8px 5px no-repeat;
    padding-left: 40px;
    height: 25px;
    font-weight: 100;
    line-height: 18px;
    font-family: 'Merriweather', serif !important;
    font-size: 12px;
    color: #fff;
    border-radius: 0;
}

.widget_search #searchform2.header-search .buttonicon {
    background-color: #000 !important;
    border-radius: 0;
}

.widget_search #searchform2.header-search #s {
    font-weight: 100;
    padding: 1px 15px 0 15px;
    font-family: 'Merriweather', serif;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #000;
}

div.widget_search #searchform2 #s, div.widget_search #searchform2 #s:focus {
    width: 225px;
    margin-left: 5px;
}

@media (min-width: 1001px) {
    .main-header #searchform2 {
        display: inline-block;
        width: 300px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .main-header #searchform2 #s {
        width: 188px;
    }
}
@media (max-width: 1000px) {
    .main-header {
        height: 100px;
    }
}

@media (max-width: 480px) {
    /*.main-header {
        height: 69px;
    }when header banner is here*/
}
.sticky-on {
    text-align: center;
}

header .stickytop.sticky-on {
    height: auto;
}

.stickytop .sub-menu{
    top: 50px !important;
}

.main-header input.buttonicon {
    text-indent: 0;
    width: 800px;
}

.main-header #searchform2 .buttonicon,
header .stickytop #searchform2 .buttonicon {
    width: 50px;
    border-radius: 0;
    height: 29px;
    background-image: none;
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #333 !important;
    border: 1px solid #333;
    color: #fff;
    font-family: 'Merriweather', serif;
}

.main-header #searchform2 .buttonicon {
    font-weight: 100;
    background-color: #000 !important;
    border: 0px;
}

header .stickytop #searchform2 .buttonicon {
    height: 34px;
}

.bar-header {
    background-color: #fff !important;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    z-index: 1000;
    position: relative;
    /*height: 76px;when header banner is here*/
    height: 41px;
}

.bar-header .menu-categories .jquerycssmenu ul li a {
    color: #000!important;
    font-weight: 300;
    font-size: 20px;
    text-transform: lowercase;
    margin-right: 1px !important;
}
.bar-header .menu-categories .jquerycssmenu ul li a:hover{
    color: #ff6600 !important;
}
.underline-detail:after {
    background-color: #ff6600;;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.wrap-content ul.masonry_list li {
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px dotted rgba(148, 151, 156, 0.46);
    border-radius: 0px;
    overflow: hidden;
    position: relative;
}

.wrap-content ul.masonry_list li:hover{
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

ul.masonry_list li img {
    width: auto;
    max-width: 230px;
    float: none;
    display: block;
    margin: 18px auto;
}

.btn-st {
    display: block;
    height: 2.2em;
    background: #fff;
    text-align: left;
    color: #333;
    /*line-height: 32px;*/
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
}

.single .btn-st {
    line-height: 41px;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background: #000;
    border: 1px dotted #000;
    color: #fff;
    position: relative;
}
.single .btn-st span, .single .btn-st:hover span{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 34%;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
}
.single .btn-st:hover span{
   background-image: url(../pin-wp-child/images/dropdownblck.png); 
}
.btn-st:hover {
    /*opacity: 0.8;
    color: #333;*/
}

.single .btn-st:hover {
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #000;
    opacity: 1;
}

.single .product-price {
    color: #666;
    font-weight: normal;
    margin-bottom: 20px;
}

.single .product-price .regular-price {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

ul.masonry_list .btn-st {
    width: 90%;
    margin: 15px auto 50px auto;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 100;
    color: #ff6600;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    border-left: 1px dotted rgba(148, 151, 156, 0.75);
    line-height: 32px;
    border-radius: 0px;
}
ul.masonry_list .btn-st:hover{
    color: #000
}
.price span {
    font-size: 18px;
    color: #000;
    font-weight: 100;
    letter-spacing: -2px;
}

.price .old-price {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 100;
}

.price .sale-price {
    color: #ff6600;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    font-weight: 100;
}

/**
 * Single page
 */

.entry-top h1.article-title {
    color: #000;
    font-weight: 100;
    font-size: 32px;
}

.single-brand {
    color: #ff6600;
    text-transform: capitalize;
}

.media-product-page {
    width: 100%;
}

.media-product-details {
    width: 100%;
}

.media-product-details-inner {
    padding: 8px;
    line-height: 1.7em;
    position: relative;
}

.media-product-details-inner p {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    color: #000;
}
.saving{
    display: none;
    position: absolute;
    left: -35px;
    bottom: 55px;
}
.saving .arrow-down-related{
    /*margin: 0px auto 0px auto;
    transform: rotate(270deg);
    border-top-color: #950e2e !important;
    position: relative;
    right: -65px;
    top: 25px;*/
    display: none;
}
.saving .underline{
    margin: 0px auto 0px auto;
    border: 0px;
}
.saving h3{
    width:100px;/*or removed*/
    height: 100px;/*or removed*/
    border: 1px solid #ff6600;
    background-color: rgba(255, 102, 0, 0.82);
    color: #fff;
    /*padding: 5px 15px;removed for now*/
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border-radius: 50%;
    /*line-height: 27px;*/
    line-height: 80px;
}
.saving strong{
    margin-top: -56px;
    display: block;
    font-size: 19px;
}
@media (min-width: 801px) {
    .media-product-page {
        width: 50%;
        float: left;
    }

    .media-product-details {
        width: 50%;
        float: left;
    }

    .media-product-details-inner {
        padding: 80px;
    }
}
@media (max-width: 800px) {
    .saving {
        /*position: relative;
        width: 135px;
        float: right;
        top: -114px;
        margin-right: -67px;*/
        /*added for now*/
        position: relative;
        float: right;
        left: 0;
        top: -155px;
        margin-bottom: -155px;
    }
    .saving .arrow-down-related{
        /*transform: rotate(0deg);
        right: -5px;
        top: 48px;*/
    }
}
@media (max-width: 480px) {
    .saving{
        /*width: 100%;
        top: -10px;
        margin-top: 18px;*/
        /*added for now*/
        position: absolute;
        top: -8px;
        right: 0;
    }
    .saving h3{
        float: right;
    }
    .saving .arrow-down-related{
        /*transform: rotate(180deg);
        top: 0px;
        right: -5px;*/
    }
}
#single-share a.fbbutton, #single-share a.twbutton, #single-share a.pinbutton, #single-share a.googlebutton, #single-share a.emailbutton {
    background-color: #fff;
    font-weight: 100;
    font-size: 10px;
    color: black;
    box-sizing: border-box;
    border-left: 1px dotted rgba(148, 151, 156, 0.52);

}
#single-share .googlebutton i, #single-share .pinbutton i, #single-share .fbbutton i, #single-share .twbutton i, #single-share a.emailbutton i{
    background-color: #000;
    width: 16px;
}
#single-share a span{
    color: #000;
}
.single-banner {
    background: url(./images/joyofsale-singlebottom-450-v2.jpg) no-repeat;
    height: 270px;
    width: 470px;
    margin: 10px auto;
}

/**
 * End single page
 */

.product-price {
    font-size: 1.4em;
    line-height: 1em;
    margin-bottom: 42px;
    line-height: 1.8em;
}

.product-shipping {
    font-size: 19px;
    margin: 30px 0;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: 400 !important;
}

.btn-product-buy {
    margin-top: 22px;
}

.product-price .sale-price {
    color: #ff6600;
    font-weight: bold;
}

.single-content {
    box-shadow: none;
}

#single-share {
    margin-bottom: 14px !important;
    border: 0px;
}

.ct-size {
    display: inline-block;
    margin-bottom: 70px;
}

.product-categories {
    color: #000;
    font-weight: 100;
}

.text-center {
    text-align: center;
}

.ct-size a {
    font-size: 19px;
    color: #000 !important;
    font-weight: 500;
}

.product-img-link:hover img {
    opacity: 0.8;
}

.masonry_list > li .out-of-stock {
    display: none;
    text-align: center;
    top: 80px;
    position: absolute;
    left: 50%;
    width: 80px;
    z-index: 1;
    padding: 4px 20px;
    background: white;
    margin-left: -60px;
    color: red;
    letter-spacing: 1px;
    text-shadow: 0 0 5px white;
    border: 1px solid red;
}

.masonry_list > li:hover .out-of-stock {
    display: block;
}

div.single-content {
    box-shadow: none;
}

.menu-categories {
    margin: 0;
}

.menu-categories .jquerycssmenu {
    margin: 0;
}

header .stickytop .jquerycssmenu {
    margin: 0;
}

header .sticky-on {
    border-bottom: none !important;
    transition: top 0.7s ease-out;
    top: -133px;
    width: 100%;
}

header .sticky-on.stickytop {
    top: -82px;
    opacity: 0.9;
}

header .stickytop #searchform2 #s {
    height: 25px;
}

header .stickytop #searchform2 .buttonicon {
    height: 29px;
    font-weight: 100;
}

header .stickytop .logo {
    height: auto;
}

header div.sticky-on {
    background-color: #000;
}
header div.sticky-on a img{
    padding: 21px 0;
}

.sticky-filter.on .search-form{
    background-color: #fff;
    border-bottom: 1px solid rgb(238, 238, 238);
    opacity: 0.9;
}

.sticky-filter.on .search-form .filter-range{
    color: #000;
}

@media (max-width: 1020px) {
    header .stickytop.sticky-on {
        height: 127px !important;
        top: -83px;
    }
    .sticky-filter.on .search-form {
        /*top: 66px;when header banner is here*/
        top: 31px;
    }

    header .stickytop #searchform2 {
        margin-top: -5px;
    }

    header .sticky-on #searchform2 {
        margin-top: -5px;
    }

    header .stickytop #searchform2 {
        margin-top: -5px !important;
        top: 0px !important;
    }

}

header .stickytop .wrap-center {
    background: #fff;
    height: 41px;
}

header .stickytop #searchform2 {
    margin-top: 11px;
    top: 17px;
}
header .stickytop .bar-header{
    /*height: 80px;when header banner is here*/
    height: 45px;
    /*border: 1px solid rgba(238, 238, 238, 0.38);*/
    border-bottom: 0px !important;
    box-shadow: 0 2px 6px 0 rgba(213, 214, 216, 0.78) !important;
}
header .stickytop.sticky-on .bar-header .menu-categories .jquerycssmenu ul li a {
    line-height: 39px;
}

header .stickytop .jquerycssmenu {
    margin-top: 0px !important;
}

.featured-articles .title-box span {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    /*background: #fff;*/
    padding: 2px 3px;
    margin-right: 0px;
}

.featured-articles .title-box {
    background: linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0% 0% transparent !important;
}

.featured-articles .title-box .regular-price {
    font-size: 14px;
    color: #333;
}

.regular-price {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.featured-articles .title-box .old-price {
    color: #333;
    text-decoration: line-through;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 10px;
}

.featured-articles .title-box .sale-price {
    color: #950e2e;
    margin-left: 4px;
    font-size: 14px;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 10px;
}

.featured-articles .title-box {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 90px;
    padding-top: 30px;
}

.featured-articles .title-box h2 a {
    font-weight: 400;
}

.featured-articles .title-box h2 a:hover {
    color: #ff6600 !important;
}

li.post-slide {
    height: 100%;
}

ul.featured-articles-slider li img {
    height: auto;
}

img.logo {
    float: none;
    margin: 0;
}

.featured-articles-slider, .random-articles-slider {
    height: 280px;
}

.featured-title {
    background-color: transparent !important;
    width: 100%;
    margin-top: -105px;
}

.featured-title h3 {
    display: none;
    /*color: #666 !important;
    text-align: center;
    font-family: 'Lato', sans-serif;*/
}

.slide-nav {
    float: none;
    text-align: center;
    margin-top: 100px;
}

footer .slide-nav {
    display: none !important;
}

#slider-prev, #slider-prev2 {
    float: left;
    margin-left: 10px;
    margin-top: 100px;
}

#slider-next, #slider-next2 {
    float: right;
    margin-right: 10px;
    margin-top: 100px;
}

#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a {
    color: #333 !important;
}

.bx-wrapper {
    margin-top: 20px;
    max-width: 100% !important;
}

ul.masonry_list li p {
    padding: 0;
    color: #000 !important;
    font-size: 14px;
    line-height: 23px;
    font-weight: 100;
}

span.now {
    margin-left: 25px;
    font-weight: 100;
    font-size: 16px;
    text-transform: capitalize;
}

p.price {
    margin-bottom: 12px;
    line-height: 1em;
    word-spacing: -7px;
}

/*Archive*/

.archive-header h1:after {
    background: #ff6600 !important;
}

.archive-header h1 {
    font-weight: 100;
}

.archive-header h1 strong {
    font-weight: 400;
}

.archive aside {
    margin-top: 48px;
    width: 320px !important;
}

.archive-header a {
    font-size: 17px;
}

.archive-header a:hover {
    color: #ccc !important;
}

/*Related posts*/

.rpbt_shortcode ul.article_list {
    display: inline-block;
    margin-top: -15px;
    padding-left: 1.7%;
}

.rpbt_shortcode ul.article_list li {
    height: 300px;
    display: block;
    padding: 15px 0;
    width: 30%;
    float: left;
    margin-right: 3%;
    border: 1px dotted rgba(148, 151, 156, 0.46);
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.rpbt_shortcode p.price {
    margin: -125px 0px 0px 0px;
}

.underline {
    width: 75px;
    margin: 0px auto 23px auto;
    border: 1px solid #333;
}

.round-search {
    display: none;
}

.rpbt_shortcode ul.article_list li:hover .round-search, .rpbt_shortcode ul.article_list li .round-search:hover {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: #333;
    z-index: 999;
    top: -250%;
    left: 41%;
    border-radius: 50%;
    opacity: 0.8;
}

.rpbt_shortcode ul.article_list li .round-search:hover {
    z-index: 1001;
}

.fa.fa-eye {
    color: white;
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 1px;
}

.rpbt_shortcode ul.article_list li:hover h4 a, .rpbt_shortcode h4 a:hover {
    color: #333 !important;
}

.rpbt_shortcode h3.rpbt_title.title {
    font-size: 20px;
    padding: 3px 3px 2px;
    margin-bottom: 5px;
    background: #fff !important;
    color: #000 !important;
}

.arrow-down-related {
    margin: -23px auto 25px auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.arrow-down-related {
    border-top: 10px solid #000 !important;
}

.rpbt_shortcode h4.article-title {
    font-size: 14px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 220px;
    padding: 0 10px;
    color: #000;
}

.rpbt_shortcode h4 a {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 50px;
    color: #333;
    font-weight: 400;
}

.rpbt_shortcode ul.article_list li img {
    float: none;
    width: auto;
    max-width: 100%;
    height: 200px;
    display: block;
    top: -200px;
    position: relative;
    margin: -62px auto;
}

.img-border {
    width: 40%;
    margin: -90px auto 0 auto;
    border-bottom: 1px dotted rgba(148, 151, 156, 0.46);
}

#back-top span {
    background-color: transparent !important;
}

#back-top a span .fa-arrow-up {
    font-size: 19px;
    color: #ff6600 !important;
    position: absolute;
    left: 20px;
    top: 13px;
}

#back-top a span .fa-arrow-up:hover {
    color: #ff6600 !important;
}

.title-overflow {
    height: 50px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    body.home .shortcut {
        min-height: 300px !important;
    }
}

@media (max-width: 1002px) {
    
    .banner-wrap {
        background-color: transparent !important;
        height: 506px !important;
    }

    .banner-home {
        width: 641px !important;
        background-color: #fa08e0;
        height: 502px !important;
    }
    .banner-home a:last-child img{
        display: block;
        margin-top: -10px;
    }
}

@media (max-width: 480px) {
    /*Site title*/
    h2.site-title {
        font-size: 44px;
        float: left;
    }

    .site-subtitle {
        font-size: 11px;
        margin-left: 25px;
        margin-top: -5px;
    }

    .rpbt_shortcode ul.article_list {
        padding-left: 0px;
    }

    .rpbt_shortcode ul.article_list li {
        width: 99% !important;
        margin-right: 0px;

    }

    .rpbt_shortcode h4.article-title {
        padding: 10px;
        margin-top: 225px;
    }

    .img-border {
        margin-top: -75px;
    }

    .title-overflow {
        height: 30px;
    }

    .banner-wrap {
        padding: 0px !important;
    }

    .single-banner {
        background-size: 376px !important;
        height: 210px !important;
    }
}

/*Widget*/

.sidebar-left, .sidebar{
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0px 0px rgba(0,0,0,0.1) !important;
    box-shadow: 0px 0px rgba(0,0,0,0.1) !important;
}
.sidebar-left li a, .sidebar li a{
    font-weight: 100;
} 
.sidebar-left li a:hover, .sidebar li a:hover{
    color: #ff6600;
}
.sidebar .widget, .sidebar-left .widget {
    width: 300px !important;
    padding: 0 0px 20px 10px;
}

.single .sidebar .widget {
    padding-left: 0px;
}

h3.top-title:after {
    background: none repeat scroll 0% 0% #ff6600 !important;
}
.widget h3.title:after, h3.top-title:after{
    background-color: #ff6600 !important;
}


/*Small content*/


ul.masonry_list .an-widget-title h2 {
    font-size: 22px;
    font-weight: 100;
    line-height: 22px;
    margin-top: 15px;
}
ul.masonry_list .an-widget-title h2 a, ul.masonry_list .an-widget-title h2 a:hover {
    color: #000 !important;
}

.fa.fa-angle-right {
    font-size: 20px;
    font-weight: 100;
    margin-left: 7px;
    position: relative;
    top: 1px;
    color: #000;
}

/*Responsive menu title*/

body #responsive-menu #responsive-menu-title {
    margin-top: 25px;
}
body #responsive-menu .responsive-menu li a{
    border-top: 0px !important;
    font-weight: 100;
    font-size: 20px !important;
}
body #responsive-menu .responsive-menu li a:first-child{
    border-top: 0px !important;
}
body #responsive-menu .appendLink{
    border: 0px !important;
}
#click-menu {
    /*background-color: #333 !important;*/
}

/*Red banner*/
.red-banner {
    width: 100%;
    display: block;
    margin-top: 20px;
}

.red-banner img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .red-banner {
        margin-top: 0px;
    }

    .red-banner img {
        width: auto;
    }
}

@media (max-width: 580px) and (min-width: 480px) {
    span.now {
        display: none;
    }
}

/*Footer*/
footer {
    position: relative;
    z-index: 1001;
}

footer, footer .social-section, footer .wrap-footer {
    /*background-color: #333 !important;*/
}
footer .social-section{
    height: 50px;
}
ul.footer-social{
    display: none;
}
footer .featured-articles .title-box h2 a:hover {
    /*font-weight: bold;*/
}

footer .footer-social i:hover, footer .footer-social a:hover {
    color: #950e2e !important;
}

footer .bx-wrapper {
    background: #fff;
}

.copyright{
    color: #fff !important;
    position: relative;
}
.copyright img{
    position: absolute;
}

/*Responsive menu*/
#responsive-menu-title, #responsive-menu #responsiveSearchInput {
    font-family: 'Merriweather', serif;
}

body #responsive-menu #responsive-menu-title {
    margin-bottom: 20px;
    font-weight: 100;
}

#responsive-menu .responsive-menu li a {
    font-weight: 100 !important;
}

/*Load more*/

#infscr-loading {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    right: 35px;
    bottom: 15px;
    background-color: transparent !important;
}

#infscr-loading img {
    width: 30px;
    margin: 0px;
}
#infscr-loading span{
    display: none;
}

/*Categories and 404 page*/
body #mcTagMap .tagindex, body #sc_mcTagMap .tagindex{
    min-height: 100px !important;
}
li.hideli{
    background: #fff;
    position: relative;
    z-index: 99999;
}
#mcTagMap .holdleft, #sc_mcTagMap .holdleft {
    width: 165px !important;
}

#mcTagMap .tagindex h4 {
    color: #ff6600 !important;
    border-bottom: 5px solid #ff6600 !important;
}
#mcTagMap .morelink, #sc_mcTagMap .morelink{
    position: relative;
    z-index: 99999;
    background: #fff;
    border: 1px solid #BBAACC;
    padding-left: 5px !important;
}

#mcTagMap .tagindex li a, .widget.widget_extended-categories li .avhec-widget-line a, .widget.widget_recent_entries li a {
    font-weight: 100;
}

#mcTagMap .tagindex li a:hover, .widget.widget_extended-categories li .avhec-widget-line a:hover {
    color: #ff6600 !important;
}

#mcTagMap .tagindex h4, #sc_mcTagMap .tagindex h4 {
    height: 18px;
    width: 100%;
}

#mcTagMap .tagDescription {
    display: none !important;
}

/*Mailchimp start*/

.wdpu-text {
    text-align: center;
    width: 100%;
    background: url(./images/emailpopup.jpg) no-repeat;
    background-size: cover;
}

.mc_embed_signup {
    width: 630px;
    margin: auto;
    display: inline-block;
    margin-top: 350px;
    margin-bottom: 20px;
}

.mc_embed_signup .email {
    border: 1px solid #eee;
    padding: 12px;
    width: 80%;
    font-size: 1.4em;
    font-weight: 100;
    float: left;
    box-sizing: border-box;
    height: 48px;
}

.mc_embed_signup .button {
    border: 1px solid #666;
    padding: 12px;
    font-size: 1.4em;
    color: #fff;
    width: 20%;
    float: left;
    box-sizing: border-box;
    height: 48px;
    background: #ff6600;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 81px 16px;
}

/** end mailchimp **/

/*Mailchimp all the time*/
.mailchimp-single {
    border: 1px solid #666;
    margin-bottom: 40px;
    background: url(./images/emailsingle.jpg) no-repeat;
    background-size: cover;
    /*background: #000;*/
}

.mailchimp-single .mc_embed_signup {
    margin: 20px auto 20px auto;
    display: block;
}

.mailchimp-single .mc_embed_signup .email {
    border: 1px solid #666;
    color: #666;
    height: 45px;
}

.mailchimp-single .mc_embed_signup .button {
    background: #000;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    line-height: 19px;
    border: 1px solid #000;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 85px 15px;
}

.mailchimp-single p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.mailchimp-single span {
    font-weight: bold;
}

@media (max-width: 580px){
    .mailchimp-single{
        display: none;
    }
}

.wdpu-container {
    z-index: 1000001 !important;
}

.wdpu-close.no-title, .wdpu-close.no-title:hover {
    position: absolute !important;
    top: -12px !important;
    right: -12px !important;
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
    opacity: .9 !important;
    background: transparent url(http://joyofsale.com/wp-content/plugins/popover/css/tpl/cabriolet/img/close.png) no-repeat !important;
    color: transparent !important;
}
 .mc_embed_signup .email, .mc_embed_signup .button{
    font-family: 'Merriweather', serif !important;
 }
@media screen and (max-width: 769px) {
    .mc_embed_signup {
        width: 80%;
    }

    .mc_embed_signup .email, .mc_embed_signup .button {
        font-size: 17px !important;
        padding: 12px 5px;
        background-position: 65px 15px !important;
    }

    .mailchimp-single p {
        font-size: 18px;
    }

    .rpbt_shortcode ul.article_list li {
        width: 46%;
    }

    .banner-wrap {
        height: 755px !important;
    }

    .banner-home {
        width: 320px !important;
        height: 740px !important;
    }
    
    .banner-home a:last-child img{
        display: block;
        margin-top: -11px;
    }
    
    body.home .shortcut {
        min-height: 650px !important;
    }

    body.home .shortcut-child {
        width: 48%;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }
    
    body.home .shortcut-child:first-child{
        margin-right: 4%;
    }
    
    h1.designer-clothes {
        font-size: 25px !important;
        line-height: 35px;
        padding-top: 20px !important;
        padding-left: 0px !important;
        text-align: center;
    }

    #mcTagMap .tagindex, #sc_mcTagMap .tagindex {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .mailchimp-single {
        display: none;
    }

    body.home .shortcut {
        margin: 0 auto !important;
    }

    body.home .shortcut-child {
        width: 100%;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    
    .single .banner-wrap {
        display: none !important;
    }
    header div.sticky-on a img{
        width: 220px;
        float: left;
        margin-left: 15px;
    }
    body #click-menu {
        top: 15px !important;
    }
}

/*Single content between 1003px and 1000px*/

@media screen and (max-width: 1003px) and (min-width: 1000px) {
    .single-content {
        padding-left: 20px;
    }
}

/*Olivia's sidebar text*/
#text-6 .textwidget {
    font-weight: 100;
    padding: 0 25px;
    margin-left: -23px;
    text-align: justify;
}

/*Home banner*/
.banner-wrap {
    background-color: #fa08e0;
    margin-bottom: 20px;
    position: relative;
    z-index: 200;
    height: 250px;
}

.banner-home {
    width: 966px;
    margin: 0 auto;
    font-size: 0;
}

/*Shortcut*/
.shortcut {
    display: none;
}

.shortcut {
    display: block;
    min-height: 360px;
    margin-bottom: 50px;
}

.shortcut-child {
    width: 32%;
    margin-left: 2%;
    padding: 10px;
    float: left;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgba(148, 151, 156, 0.17);
}

.shortcut-child:first-child {
    margin-left: 0;
}

.shortcut-child img {
    width: 100%;
    height: auto;
    background: black;
    display: block;
    margin: 0 auto;
}

body.home .shortcut-child h3 {
    margin: -25px auto 0 auto;
    padding: 10px 0px;
    background: white;
    text-align: center;
    width: 80%;
    position: relative;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}

body.home .shortcut-child p {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px dotted rgba(148, 151, 156, 0.69);
    text-transform: uppercase;
    font-weight: 100;
}

.shortcut-child p:hover {
    color: #ff6600;
}

.shortcut-child a:last-child p {
    border: 0px;
}

.wrap-content-inner {
    float: left;
    width: 100%;
}

.search-form-dropdown {
    opacity: 0.9;
}

.search-form-select{
    background-color: #000;
}

@media (max-width: 1200px) and (min-width: 1000px){
    .archive.category .sticky-filter.on .search-form-select {
        width: 180px;
    }

}

.search-form-select label:hover {
    color: black;
    background-color: white;
}

.search-form-select input[type=checkbox] {
    border-color: white;
}

.search-form-select input[type=checkbox]:checked {
    background: #950e2e;
}

.search-form-placeholder {
    background-image: url(../pin-wp/images/menu/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 14px
}

.search-form-inner{
    background-color: #000;
}

.search-form-price{
    width: 260px;
}

@media (max-width: 1000px){
   .search-form-price{
        width: 100%;
   } 
}

.search-form-price .ui-slider-horizontal {
    height: 5px;
    margin-top: 2px;
}

.search-form-price .ui-widget-content .ui-state-default {
    border-radius: 20px;
    height: 16px;
    width: 16px;
    top: -7px;
}

.filter-range {
    font-weight: 100;
    color: #000;
}

.filter-amount {
    width: 120px;
    color: #000;
    font-weight: 400;
}

.filter-apply{
    background-color: #000;
    font-family: 'Merriweather', serif !important;
}

.filter-apply.active{
    background-color: #ff6600;
    border: 1px solid #000;
    color: #000;
    font-weight: 400;
}

.on .filter-amount {
    color: #000;
}

.sub-menu {
    padding: 0;
    margin: 0;
}

.menu-categories .jquerycssmenu li ul {
    padding: 0;
    margin: 0;
}

.menu-categories .jquerycssmenu li ul li a {
    background-color: #fff;
}

.menu-categories .jquerycssmenu li ul li:hover a {
    color: #ff6600 !important;
    background: white;
}

.menu-categories .jquerycssmenu ul li ul {
    border-color: #fff !important;
}

header .stickytop .jquerycssmenu ul li ul {
    margin-top: -4px;
}
header .stickytop .jquerycssmenu ul li a:hover{
    opacity: 1;
}
@media (min-width: 1000px) and (max-width:1003px){
    .menu-categories{
        width: 80%;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content, .ui-slider .ui-slider-range{
    border: 1px solid #000;
    background: #000 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}

@media (min-width: 1000px) {
    .search-form-select {
        width: 180px;
    }
}
@media (min-width: 1020px) {

    .sticky-filter.on .search-form{
        /*top: 65px;when header banner is here*/
        top: 30px;
    }
}

.products-details-dialog {
    z-index: 10000;
}

.products-details-dialog .ui-dialog-titlebar {
    background: none;
    border: none;
    text-align: center;
    padding: 20px 0;
    font-size: 21px;
    font-weight: 300;
}

.products-details-dialog .ui-dialog-titlebar-close {
    background: rgba(0, 0, 0, 0) url(images/close.png) no-repeat;
    border: none;
    padding: 0;
    top: 18px;
    width: 21px;
    height: 21px;
}

.products-details-dialog .ui-dialog-titlebar-close:hover {
    opacity: 0.9;
}

.rating {
    margin: 16px 0;
    font-size: 18px;
    color: #000;
    font-weight: 100;
}

/*Blog*/
h1.page-title{
    border-bottom: 0px !important;
    font-weight: 100 !important;
}
.page-template-template-childpages .page .entry h1.page-title, .page-child .page .entry h1.page-title {
    font-size: 36px;
    font-weight: 300;
    color: #000;
}

.page-template-template-childpages article .entry p, .page-template-template-childpages article .entry p strong a, .page-template-template-childpages article .entry p a, .page-template-template-childpages article .entry p strong a:hover, .page-template-template-childpages article .entry p a:hover {
    font-size: 17px !important;
    font-family: 'Merriweather', serif;
    font-weight: 300 !important;
    line-height: 27px !important;
    background-color: transparent !important;
    text-decoration: none !important;
    color: #000 !important;
}

.page-template-template-childpages .content-bgd .entry ul li h3, .page-template-template-childpages .content-bgd .entry ul li h3:hover {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    width: 49%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    text-align: center;
    font-size: 31px;
    max-height: 60px;/*change when headline has 2 lines*/
    overflow: hidden;
}

.page-template-template-childpages .content-bgd .entry ul li h3 a, .page-template-template-childpages .content-bgd .entry ul li h3 a:hover {
    width: 100%;
    color: #000;
    font-weight: 100;
    text-decoration: none;
    line-height: 30px;
}

.page-template-template-childpages .content-bgd .entry ul li p, .page-child article .entry p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: #000;
    padding: 20px 0;
}

.page-template-template-childpages .content-bgd .entry ul li p {
    width: 49%;
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 15px;
}

.page-template-template-childpages .content-bgd .entry ul li p a, .page-child article .entry p a {
    font-weight: 400;
    background-color: transparent;
    color: #111;
}

.page-template-template-childpages .content-bgd .entry ul li p a {
    position: absolute;
    right: 0;
    bottom: -10px;
    background: transparent !important;
    color: #000 !important;
}

@media (max-width: 600px) {
    .page-template-template-childpages .content-bgd .entry ul li h3, .page-template-template-childpages .content-bgd .entry ul li h3 a, .page-template-template-childpages .content-bgd .entry ul li h3:hover, .page-template-template-childpages .content-bgd .entry ul li h3 a:hover, .page-template-template-childpages .content-bgd .entry ul li p {
        width: 100%;
        position: relative;
        margin-top: 10px;
    }

    .page-template-template-childpages .content-bgd .entry ul li p {
        top: 0px;
    }

    body .entry .cf a img {
        width: 80% !important;
        margin: 0 auto !important;
    }

}

body .entry p a:hover {
    background: transparent !important;
    color: #666;
}

.entry ul {
    list-style-type: none !important;
}

.entry ul.child-pages {
    margin: 20px 0;
}

li.cf {
    margin-bottom: 70px;
    position: relative;
    min-height: 200px;
}

body .entry .cf a img, body .entry p a img {
    width: 80% !important;
    display: block !important;
    margin: 0 auto !important;
}

body.page-template-template-childpages .entry .cf a img {
    width: 48% !important;
    margin: 0px !important;
}
@media (max-width: 600px){
    body.page-template-template-childpages .entry .cf a img {
        width: 80% !important;
        margin: 0px auto !important;
    }
    
}
.page-child article {
    margin-top: 20px;
}

.page-child .pricing {
    margin-top: 15px;
    font-size: 20px;
}

.page-child .pricing span {
    font-size: 20px;
}

.page-child article .entry h3 {
    color: #000;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 7px;
    text-align: center;
}

.page-child article .entry p img {
    display: block;
    margin: 0 auto;
}

.page-child article .entry p em {
    font-size: 15px;
}

/*Header banner*/

.header-banner{
    height: 35px;
    background: #ff6600;
}
.header-banner p{
    color: #000;
    margin: auto;
    font-family: 'Merriweather', serif;
    padding-top: 4px;
}
.header-banner p a, .header-banner p a:hover{
    display: inline-block;
    background: #000 ;
    font-size: 14px;
    padding: 3px 5px;
    margin-left: 18px;
    margin-top: -1px;
    line-height: 23px;
    color: #ff6600 !important;
    font-weight: 700;
}
.header-banner p a span{
    border: 1px solid #ff6600;
    padding: 0 5px;
}
.under-1000 p{
    text-align: center;
}
.under-1000{
    margin-bottom: 15px;
}
@media (min-width: 1000px){
    .banner-wrap {
        /*margin-top: 35px; when header banner is here*/
        /*margin-top: 5px;*/
    }
    .under-1000{
        display: none;
    }
}
@media (max-width: 706px){
    .under-1000{
        height: 60px;
    }
}
@media (max-width: 372px){
    .under-1000 {
        height: 80px;
    }
}
@media (max-width: 1000px){
    header, .sticky{
        background-color: transparent !important;
    }
}

.wdsi-slide-minimal .wdsi-slide-wrap{
    border-top: 3px solid #ff6600;
}

